@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.dosisFont{
    font-family: 'Dosis', sans-serif; 
}

.sourceFont{
    font-family: 'Source Sans 3', sans-serif;
}



/* Navbar design starts */
.navBg{
    background-color: rgb(0,3,36);
    
}

.navText{
    display: flex;
    align-items: end;
    color: #FFFFFF !important;
}

.navCenter{
    display: flex;
    justify-content: center;
}

.navReserve{
    color: #FFFFFF;
    border: 2px #FFFFFF solid;
    padding-right: 5px;
    padding-left: 5px;
    
}

.reserveContainer{
    display: flex;
    align-content: end;
}



.header{
    display:flex;
    justify-content: center;
    align-items: center;
    background: url("/images/header.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    height: 35rem;
}

.headerCard{
    border-radius: 0%;
    color: white;
    background-color: #000324;
    opacity: 0.8;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

/*Welcome to a Hampster Paradise section */
.welcomeText{
    text-align: left;
    margin-top: 20px;
   
}

.sittingHamster{
    margin-bottom: 2rem;
}

.welcomeAwards{
    display: flex;
    justify-content: space-around;
}

/*Our Room Section starts*/
.blueBackgroundRoom{

    background: url("/images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    color: white;
    display: flex;
    justify-content: center;
    
   
}

.ourRooms{
    background: url("/images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 5rem;
}
.roomsBtn{
    background-color: #004CC7;
    border-radius: 0; 
}

.cardPhoto{
    border-radius: 0;
    margin: 0;
    border-collapse: collapse;
    
}
.sideLeft{
    text-align: left;
}

.allCards{
    margin: 10px;
    border: 0;
    padding: 0; 
    border-radius: 0;
    
}
/* Our Rooms Section ends */


/*Packages section starts*/
.packages{
    border: 2px green solid;
}

.textColor{
    color: #1F51A8;
}
.wedRow{
    border: 2px green solid;
}
.weddingImg{
    width: 55%;
}

.pkgImg{
    height: 250px;
    width: 100%;

}


.pkgSection{
    padding: 7%;
}

/*Amenities Section */
.amenitiesBg{
    background: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    color: white;
    margin-bottom: 8rem;
}
.imgPadding{
    padding-top: 10%;
}


/* Reserve a Room Section */
.rerserveRoomBackground{
    background-color: #000324;
    padding: 0;
}

.reserveRoomBackgroundText{
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}

#reserveTextColor{
    color: white;
    font-family: 'Dosis', sans-serif; 
}

.btnCheckAvailability{
    background-color: #006EDB;
    border: #000DC7 1px solid;
    border-radius: 0;
    
}

#imgPadding{
    border: 0px;  
    margin: 0;
    border-collapse: collapse;
    
}
 


/*footer starts */
.footerText{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,3,36);
    color: white;
}
/*footer ends */
